{erl_opts, [debug_info]}.
{deps, [
        {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}}
        ,{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.13.3"}}}
        ,{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}}
]}.

{relx, [
         {release, {mockery_release, "0.0.1"}, [mockery]}
        ,{vm_args, "config/vm.args"}
        ,{dev_mode, true}
        %,{include_erts, false}
        ,{extended_start_script, true}
]}.

{lager, [
          {handlers, [
            {lager_console_backend, info}
            ,{lager_file_backend, [{file, "logs/error.log"}, {level, error}]}
            ,{lager_file_backend, [{file, "logs/console.log"}, {level, info}]}
          ]}
]}.
